body {
	min-width: 300px;
	overflow-x: hidden;
}
      
.button_blue{
	background-color: rgb(159, 198, 231);
}

table {
max-width:100%;
background-color:transparent;
border-collapse:collapse;
border-spacing:0;
}
.title {
	color: #707070;
	font-size:20px;
}

.table {
width:100%;
margin-bottom:20px;
}

.table th,.table td {
line-height:20px;
text-align:left;
vertical-align:top;
border-top:1px solid #ddd;
padding:8px;
}

.table thead th {
vertical-align:bottom;
}

.table tbody+tbody {
border-top:2px solid #ddd;
}

.table-condensed th,.table-condensed td {
padding:4px 5px;
}

.table-bordered {
border:1px solid #ddd;
border-collapse:collapse;
border-left:0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.table-bordered th,.table-bordered td {
border-left:1px solid #ddd;
}

.table-bordered thead:last-child tr:last-child>th:first-child,.table-bordered tbody:last-child tr:last-child>td:first-child,.table-bordered tbody:last-child tr:last-child>th:first-child,.table-bordered tfoot:last-child tr:last-child>td:first-child,.table-bordered tfoot:last-child tr:last-child>th:first-child {
-webkit-border-bottom-left-radius:4px;
border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
}

.table-bordered thead:last-child tr:last-child>th:last-child,.table-bordered tbody:last-child tr:last-child>td:last-child,.table-bordered tbody:last-child tr:last-child>th:last-child,.table-bordered tfoot:last-child tr:last-child>td:last-child,.table-bordered tfoot:last-child tr:last-child>th:last-child {
-webkit-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:first-child {
-webkit-border-bottom-left-radius:0;
border-bottom-left-radius:0;
-moz-border-radius-bottomleft:0;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:last-child {
-webkit-border-bottom-right-radius:0;
border-bottom-right-radius:0;
-moz-border-radius-bottomright:0;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
background-color:#f9f9f9;
}

table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"] {
display:table-cell;
float:none;
margin-left:0;
}

.table td.span1,.table th.span1 {
float:none;
width:44px;
margin-left:0;
}

.table td.span2,.table th.span2 {
float:none;
width:124px;
margin-left:0;
}

.table td.span3,.table th.span3 {
float:none;
width:204px;
margin-left:0;
}

.table td.span4,.table th.span4 {
float:none;
width:284px;
margin-left:0;
}

.table td.span5,.table th.span5 {
float:none;
width:364px;
margin-left:0;
}

.table td.span6,.table th.span6 {
float:none;
width:444px;
margin-left:0;
}

.table td.span7,.table th.span7 {
float:none;
width:524px;
margin-left:0;
}

.table td.span8,.table th.span8 {
float:none;
width:604px;
margin-left:0;
}

.table td.span9,.table th.span9 {
float:none;
width:684px;
margin-left:0;
}

.table td.span10,.table th.span10 {
float:none;
width:764px;
margin-left:0;
}

.table td.span11,.table th.span11 {
float:none;
width:844px;
margin-left:0;
}

.table td.span12,.table th.span12 {
float:none;
width:924px;
margin-left:0;
}

.table tbody tr.success>td {
background-color:#dff0d8;
}

.table tbody tr.error>td {
background-color:#f2dede;
}

.table tbody tr.warning>td {
background-color:#fcf8e3;
}

.table tbody tr.info>td {
background-color:#d9edf7;
}

.table-hover tbody tr.success:hover>td {
background-color:#d0e9c6;
}

.table-hover tbody tr.error:hover>td {
background-color:#ebcccc;
}

.table-hover tbody tr.warning:hover>td {
background-color:#faf2cc;
}

.table-hover tbody tr.info:hover>td {
background-color:#c4e3f3;
}

th,td,.table-bordered {
border-radius:0!important;
}

.table thead tr {
color:#707070;
font-weight:400;
background:#f2f2f2;
background-color:#f3f3f3;
background-image:linear-gradient(tobottom,#f8f8f8,#ececec);
background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);
}

.table thead tr th {
font-weight:700;
border-color:#DDD;
}

.table thead tr th:first-child {
border-left-color:#f1f1f1;
}

.table thead tr th:left-child {
border-right-color:#f1f1f1;
}

.table.table-bordered thead tr th:first-child {
border-left-color:#DDD;
}

.table.table-hover tbody tr:hover td {
background-color:#f1f1f1;
}

th .lbl:only-child,td .lbl:only-child {
vertical-align:top;
}

.table-header {
background-color:#307ecc;
color:#FFF;
font-size:14px;
line-height:38px;
padding-left:12px;
margin-bottom:1px;
}

.table-header .close {
margin-right:6px;
margin-top:6px;
}